.green-toastify {
  color: white !important;
  //   font-family: "Averta" !important;
  background: #62c188 !important;
}

.red-toastify {
  color: white !important;
  //   font-family: "Averta" !important;
  background: #ff7b6f !important;
}
