.home-page {
  color: red;
  .game {
    position: relative;
    height: 400px;
    width: 300px;
    // object-fit: cover;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    p {
      position: absolute;
      bottom: 0;
    }
  }
  .pages {
    display: flex;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid black 2px;
      height: 50px;
      width: 50px;
    }
    .page {
      color: green;
    }
  }
}
